*.wav
*.mp3
__pycache__/
*.pyc
.DS_Store
hardware/*-backups/
hardware/*.kicad_prl
hardware/net.xml
production/.history/
production/blender/pen-mixer-cappuccino.blend
*.blend1
production/blender/shots/
production/kicad/.history/
*.kicad_prl
